.form-post__close {
  position: absolute;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  cursor: pointer;
  transition: filter 0.3s;
  right: 200px;
  top: 200px;
}

.form-post__close:hover {
  filter: brightness(50%);
}

@media screen and (max-width: 580px) {
  .form-post__close {
    top: 200px;
    right: 100px;
  }
}
