.form-image-profile__url {
  border: none;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #c4c4c4;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 358px;
  height: 27px;
  justify-content: center;
  margin-bottom: 15px;
}

.form-image-profile__url::placeholder {
  color: #c4c4c4;
}

@media screen and (max-width: 580px) {
  .form-image-profile__url {
    width: 238px;
  }
}
