.form-post__window {
  width: 430px;
  height: 330px;
  background-color: white;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 580px) {
  .form-post__window {
    width: 282px;
    height: 322px;
  }
}
