.header {
  display: flex;
  max-width: 882px;
  height: 74px;
  margin: auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
  justify-content: space-between;
}

@media screen and (max-width: 445px) {
  .header {
    padding-top: 28px;
    height: 56px;
  }
}
