.content {
  background-color: black;
  margin: auto;
  height: 100%;
  padding-bottom: 30px;
  min-width: 320px;
}

@media screen and (max-width: 585px) {
  .content {
    height: auto;
  }
}
